.logo > img{
    width: 100px;
    height: 80px;
    margin: 2px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    border-width: thin;
  
}

.nav-menu {
  display: flex;
  margin: 5px;

    
}

.nav-menu > ul {
    list-style: none;
    display: flex;

    
}

.nav-menu > ul >li{
    margin: 5px;
}

.res-card {
    margin: 12px;
    width: 18%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.res-container {
    display: flex;
    flex-wrap: wrap;
 
}

.res-card:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px white;
    cursor: pointer;
  }

.res-img >img {
    margin: 2px;
    height: 150px;
    width: 98%;
    box-shadow: 5px 10px inset;
    border-radius: 10px;

}

.res-data {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.filter-btn {
    margin: 5px;
    cursor: pointer;
}

.search-box{
    margin-left: 10px;
}

.search-btn{
    margin: 5px;
    cursor: pointer;
}

.res-name{
    font-size: larger;
    font-weight: bold;
}

.rate-sla{
    display: flex;
    flex-direction: row;
    
}

.rating{
    margin-right: 14px;
    font-family: bold;
}